:root {
    --background-pagination-dark: #1f1f1f;
    --background-pagination-white: #fff;
    --background-pagination-medium: #1f1f1f9d;
    --background-pagination-light: #1f1f1f3f;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}

.pagination__item {
    display: flex;
}

.pagination__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    background-color: var(--background-dark);
    border: 0.08125rem solid var(--background-pagination-white);
    color: var(--background-pagination-white);
    font-size: 1.25rem;
}

.pagination__button:hover {
    background-color: var(--background-pagination-light);
}

.pagination__button:focus,
.pagination__button:active {
    background-color: var(--background-pagination-medium);
}