:root {
    --background-dark: #1f1f1f;
    --background-white: #fff;
    --background-shadow: rgba(0, 0, 0, 0.25);
    --background-shadow-navitem: #b8f2e6;
    --background-light: rgb(93, 110, 124);
    --background-color: rgba(0, 0, 0, 0.315);
    --background-bright: rgb(255, 153, 0);
    --header-height: 16rem;
    --status-color-red: red;
    --status-color-green: green;
    --status-color-orange: orange;
  }

.death-list_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.death-card__wrapper {
    display: flex;
    flex-direction: column;
    width: 40rem;
}

.death-card__wrapper .quote-card__title {
    font-style: italic;
}

.death-card__image-wrapper {
    display: flex;
}

.death-card__img {
    display: block;
    width: 16rem;
    border: 0.5rem solid var(--background-dark);
    margin-bottom: 2rem;
    filter: grayscale(100%);
}

.death-card__wrapper p, cite, blockquote {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.death-card__wrapper blockquote {
    padding: 1.5rem 1rem 1rem 6rem;
    width: 100%;
    margin-bottom: 2rem;
}

.death-list_wrapper .main-page__button {
    animation: none;
    width: 14rem;
}

.death-card__wrapper blockquote {
    display: flex;
}

.death-card__action {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.125rem;
    font-weight: bold;
}

.death-card__action .main-page__button {
    font-weight: normal;
}

.death-card__action-text {
    color: var(--background-dark)
}

.death-card__list {
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem 0;
    font-size: 1.25rem;
    color: var(--background-dark);
}

.death-card__item {
    display: flex;
    flex-direction: column;
}

.death-card__item-text {
    display: flex;
    font-weight: bold;
}