.episodes__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.episodes-pagintaion__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1.25rem;
    margin-bottom: 2rem;
}


.episodes-pagintaion__wrapper b {
    display: flex;
    justify-content: flex-end;
    width: 10rem;
}

.episodes-pagintaion__wrapper .pagination {
    width: 24rem;
    padding: 0 1.5rem 0 0;
    justify-content: flex-end;
}

.episode__list-mov {
    display: flex;
    flex-direction: column;
    background-color: var(--background-dark);
    width: 18rem;
    height: 100%;
    padding: 1rem 1rem 0.5rem 1rem;
    margin: 0;
    color: #fff;
}

.episode__item-mov {
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 0.25rem;
}

.episode__item-mov:nth-child(1) {
    flex: 0 0 15%;
}

.episode__item-mov:nth-child(4) {
    flex: 1 0 auto;
}

.episode__item-mov:last-child {
    margin: 0;
}

.episode__block-mov {
    display: flex;
    justify-content: center;
    height: 22rem;
    color: var(--background-white);
    margin: 0 2rem 2rem 0;
}

.episode__block-mov-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 2.5rem;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--background-dark);
}

.episode__block-mov-cell {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--background-white);
}

.episode__item-mov-title {
    font-size: 1rem;
}