:root {
  --background-dark: #1f1f1f;
  --background-white: #fff;
  --background-shadow: rgba(0, 0, 0, 0.25);
  --background-button-active: rgba(0, 0, 0, 0.75);
  --background-shadow-navitem: #b8f2e6;
  --background-light: rgb(93, 110, 124);
  --background-color: rgba(0, 0, 0, 0.315);
  --background-bright: rgb(255, 153, 0);
  --header-height: 16rem;
  --background-main: #c2c5aa;
}

body {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
}

.App {
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.App__title {
  position: relative;
  display: block;
  margin-bottom: 2.5rem;
  font-weight: bold;
  font-size: 2rem;
  color: var(--background-dark);
  animation: title-animation 0.5s ease-out;
}

.App__title::first-letter {
  position: absolute;
  color: white;
  margin-right: 0.25rem;
  z-index: 10;
}

.characters__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.App__title::after {
  position: absolute;
  content: ' ';
  left: -0.25rem;
  width: 2.5rem;
  height: 2.75rem;
  border-radius: 0.25rem;
  background-color: var(--background-dark);
  z-index: -1;
}

@keyframes title-animation {
  0% {
    transform: translate(10rem);
    opacity: 0;
  };
  100% {
    opacity: 1;
  };
}

.App__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 80rem;
  padding: 0;
  margin: 0;
}

.App__item {
  display: flex;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.App__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 80%;
  padding: 4rem 8rem;
}

.App__navigation {
  position: fixed;
  left: -18vw;
  display: flex;
  flex: 1 0 20%;
  flex-direction: column;
  align-items: center;
  padding: 12rem 4rem 0 4rem;
  height: 100vh;
  width: 20%;
  color: var(--background-white);
  background-color: var(--background-dark);
  transition-duration: 0.4s;
  box-shadow: 0 0.5rem 2rem var(--background-shadow), 0 0.25rem 0.5rem var(--background-shadow), 0 0.125rem 0.125rem var(--background-shadow);
  z-index: 20;
}

.App__navigation:hover {
  left: 0;
}

.App__navigation::after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  content: url('../img/icons_bb_white.png');
  right: -2rem;
  top: 4rem;
  width: 4rem;
  height: 6rem;
  background-color: var(--background-dark);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0 0 0.5rem var(--background-dark)
}

.App__navigation-radio {
  display: none;
}

/* .App__navigation-form {

} */

.App__random-character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App_navigation-title {
  display: flex;
  align-items: center;
}

.App__navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App__navigation-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  font-size: 1.5rem;
  color: var(--background-white);
  cursor: pointer;
}

.App__navigation-item:hover {
  text-shadow: 0 0 1rem var(--background-shadow-navitem);
}

.App__header-secondary {
  margin-bottom: 2rem;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - var(--header-height))
}

.main-page__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 4rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  border: 0.0825rem solid var(--background-shadow);
  background-color: var(--background-dark);
  
  color: var(--background-white);
  cursor: pointer;
  animation: animation-button 1s infinite;
}

.main-page__button:hover {
  border: 0.0825rem solid var(--loading-element-light);
  box-shadow: 0 0 4rem var(--background-shadow-navitem);
  animation: none;
}

.main-page__button:active {
  background-color: var(--background-button-active);
}

.loading-element {
  position: absolute;
  display: flex;
  top: 7rem;
}

.svgIcon {
  display: flex;
  fill: black;
  stroke: black;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  animation: loader 1s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(-180deg)
  };
  100% {
    transform: rotate(180deg)
  }
}

@keyframes animation-button {
  10% {
    transform: rotate(0.0125turn);
  }
  20% {
    transform: rotate(-0.0125turn);
  }
  30% {
    transform: rotate(0.0125turn);
  }
  40% {
    transform: rotate(-0.0125turn);
  }
  50% {
    transform: rotate(0.0125turn);
  }
  60% {
    transform: rotate(-0.0125turn);
  }
  70% {
    transform: rotate(0.0125turn);
  }
  80% {
    transform: 0;
  }
  90% {
    transform: 0;
  }
  100% {
    transform: 0;
  }
} 